$bootstrap-sass-asset-helper: true !default;

$caleb-main-color: #8c267c;
$caleb-secondary-color: #d01887;
$caleb-dark: #494948;
$caleb-darker: #000;
$caleb-white: #fff;
$caleb-cream: #efeeee;
$caleb-gray: #767673;
$caleb-light-gray: #b2afaa;
$caleb-yellow: #ffb838;

$caleb-divider-color: #d9d9d9;

$panel-default-color: #273a42;

$cancel-color: #587e8d;
$add-color: #20c2e2;
